{% extends "frontend_base.html" %}

{% block tableid%}intro{% endblock %}

{% block top_content %}
	<td width="960" height="300" background="{{ url_for('static', filename='img/common/bg_bubble_gre.jpg') }}">
		<table width="840" border="0" align="center" cellpadding="0" cellspacing="0">          
			<tr>
				<td width="480"><img src="{{ url_for('static', filename='img/advertise/title_advetise.jpg') }}" width="154" height="25" /></td>
			</tr>
			<tr>
				<td height="10"></td>
			</tr>
			<tr>
				<td><img src="{{ url_for('static', filename='img/advertise/title_line.jpg') }}" width="840" height="1" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<table width="840" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="500" class="body" valign="top">Snap Mobile aims to provide advertisers with the best solutions to reach their audience on <br />
                  mobile and most innovative advertising formats to effectively convey their brand message. Snap Mobile focuses exclusively on advertising on smartphones and currently focus on the iOS, Android and Mobile Internet platforms.</td>
							<td>
								<table width="304" border="0" align="right" cellpadding="0" cellspacing="0">
									<tr>
										<td width="304" height="180" background="{{ url_for('static', filename='img/advertise/frame.jpg') }}">
											<table width="288" border="0" align="center" cellpadding="0" cellspacing="0">
												<tr>
													<td><img src="{{ url_for('static', filename='img/advertise/photo.jpg') }}" width="288" height="166" /></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
	</td>
{% endblock %}

{% block bottom_content %}
	<tr valign="top">
        <td width="960" height="20"><table width="960" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="350" background="/static/img/common/bg_bubble_gre2.jpg"><table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="advertise"><img src="/static/img/advertise/table_title_01_g.jpg" width="207" height="29" /></a></td>
                    <td td width="4"><img src="/static/img/advertise/table_split_g.jpg" width="4" height="29" /></td>
                    <td><a href="mediakit"><img src="/static/img/advertise/table_title_02_g.jpg" width="207" height="29" /></a></td>
                    <td width="4" bgcolor="#49B9A3" td>&nbsp;</td>
                    <td><a href="ad_formats"><img src="/static/img/advertise/table_title_03_w.jpg" width="207" height="29" /></a></td>
                    <td width="4" bgcolor="#49B9A3" td>&nbsp;</td>
                    <td><a href="our_advertisers"><img src="/static/img/advertise/table_title_04_g.jpg" width="207" height="29" /></a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="400" valign="top" bgcolor="#f9f9f9"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#f9f9f9"><table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
                       <tr>
                        <td>&nbsp;</td>
                        </tr>
                      <tr>
                        <td width="211" height="146" valign="top"><table width="748" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td height="50" class="body" valign="top">Mobile by Snap Mobile currently offers a variety of standard app banners with sponsorship,and out of the box opportunities available.<br />
                              To find out more about mobile by Pixel Media, please<span class="link_green"> <span class="link_green_a">contact us</span></span>.</td>
                            </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center"><img src="/static/img/advertise/bar_inapp_ads.jpg" width="748" height="29" /></td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center">&nbsp;</td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body"><table width="748" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><table width="320" border="0" align="right" cellpadding="0" cellspacing="0">
                                
                                  <tr>
                                    <td width="160"><img src="/static/img/advertise/photo_inapp.jpg" width="158" height="292" /></td>
                                    <td>
                                    </td>
                                    <td width="160" valign="bottom"><table width="200" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="advertise_table_text_green">Banner Ad pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10" class="body">Display size: 320 x 48 pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10"><span class="body">Format: GIF, PNG, JPEG</span></td>
                                      </tr>
                                      <tr>
                                        <td height="10"><span class="body">File Size: &lt;20KB</span></td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                                <td><table width="320" border="0" align="right" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="160"><img src="/static/img/advertise/photo_inapp.jpg" width="158" height="292" /></td>
                                    <td width="160" valign="bottom"><table width="200" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="advertise_table_text_green">Banner Ad pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10" class="body">Display size: 320 x 48 pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10">Format: GIF, PNG, JPEG</td>
                                      </tr>
                                      <tr>
                                        <td height="10">File Size: &lt;20KB</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center">&nbsp;</td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center"><img src="/static/img/advertise/bar_mobile_ads.jpg" width="748" height="29" /></td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center">&nbsp;</td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body"><table width="748" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><table width="320" border="0" align="right" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="160"><img src="/static/img/advertise/photo_mobile.jpg" width="158" height="292" /></td>
                                    <td width="160" valign="bottom"><table width="200" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="advertise_table_text_green">Splash Ad pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10" class="body">Display size: 280 x 200 pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10">Format: GIF, PNG, JPEG</td>
                                      </tr>
                                      <tr>
                                        <td height="10">File Size: &lt;20KB</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                                <td><table width="320" border="0" align="right" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="160"><img src="/static/img/advertise/photo_mobile.jpg" width="158" height="292" /></td>
                                    <td width="160" valign="bottom"><table width="200" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="advertise_table_text_green">Splash Ad pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10" class="body">Display size: 280 x 200 pixels</td>
                                      </tr>
                                      <tr>
                                        <td height="10">Format: GIF, PNG, JPEG</td>
                                      </tr>
                                      <tr>
                                        <td height="10">File Size: &lt;20KB</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body">&nbsp;</td>
                          </tr>
                        </table></td>
                        </tr>
                      <tr>
                        <td width="211" height="50" valign="top"><table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
                          </table></td>
                      </tr>
                      </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
{% endblock %}