{% extends "frontend_base.html" %}

{% block tableid%}intro{% endblock %}

{% block top_content %}
	<td width="960" height="300" background="{{ url_for('static', filename='img/common/bg_bubble_gre.jpg') }}">
		<table width="840" border="0" align="center" cellpadding="0" cellspacing="0">          
			<tr>
				<td width="480"><img src="{{ url_for('static', filename='img/advertise/title_advetise.jpg') }}" width="154" height="25" /></td>
			</tr>
			<tr>
				<td height="10"></td>
			</tr>
			<tr>
				<td><img src="{{ url_for('static', filename='img/advertise/title_line.jpg') }}" width="840" height="1" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<table width="840" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="500" class="body" valign="top">Snap Mobile aims to provide advertisers with the best solutions to reach their audience on <br />
                  mobile and most innovative advertising formats to effectively convey their brand message. Snap Mobile focuses exclusively on advertising on smartphones and currently focus on the iOS, Android and Mobile Internet platforms.</td>
							<td>
								<table width="304" border="0" align="right" cellpadding="0" cellspacing="0">
									<tr>
										<td width="304" height="180" background="{{ url_for('static', filename='img/advertise/frame.jpg') }}">
											<table width="288" border="0" align="center" cellpadding="0" cellspacing="0">
												<tr>
													<td><img src="{{ url_for('static', filename='img/advertise/photo.jpg') }}" width="288" height="166" /></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
	</td>
{% endblock %}

{% block bottom_content %}
	<tr valign="top">
        <td width="960" height="20"><table width="960" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="350" background="/static/img/common/bg_bubble_gre2.jpg"><table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="advertise"><img src="/static/img/advertise/table_title_01_g.jpg" width="207" height="29" /></a></td>
                    <td td width="4"><img src="/static/img/advertise/table_split_g.jpg" width="4" height="29" /></td>
                    <td><a href="mediakit"><img src="/static/img/advertise/table_title_02_g.jpg" width="207" height="29" /></a></td>
                    <td width="4" bgcolor="#49B9A3" td><img src="/static/img/advertise/table_split_g.jpg" width="4" height="29" /></td>
                    <td><a href="ad_formats"><img src="/static/img/advertise/table_title_03_g.jpg" width="207" height="29" /></a></td>
                    <td width="4" bgcolor="#49B9A3" td>&nbsp;</td>
                    <td><a href="our_advertisers"><img src="/static/img/advertise/table_title_04_w.jpg" width="207" height="29" /></a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="400" valign="top" bgcolor="#f9f9f9"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#f9f9f9"><table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
                       <tr>
                        <td>&nbsp;</td>
                        </tr>
                      <tr>
                        <td width="211" height="146" valign="top"><table width="748" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td height="50" class="body" valign="top">Over the years,  Snap Mobile has worked with thousands of advertisers in the region to help them launch effective online advertising campaigns. These are some of those whom we have worked with.</td>
                            </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body" align="center"><table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="120" align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td width="120" align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td width="120" align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td width="120" align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td width="120" align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                </tr>
                              <tr>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                </tr>
                              <tr>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                              </tr>
                              <tr>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_hsbc.jpg" width="116" height="75" /></td>
                              </tr>
                              <tr>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_ibm.jpg" width="116" height="75" /></td>
                              </tr>
                              <tr>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                                <td align="center"><img src="/static/img/advertise/advertisers_logo_zuji.jpg" width="116" height="75" /></td>
                              </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td bgcolor="#FFFFFF" class="body">&nbsp;</td>
                          </tr>
                        </table></td>
                        </tr>
                      <tr>
                        <td width="211" height="50" valign="top"><table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
                          </table></td>
                      </tr>
                      </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
{% endblock %}